// Variables

// Colors

// Primary

$strongCyan: hsl(172, 67%, 45%);

// Neutral

$veryDarkCyan: hsl(183, 100%, 15%);
$darkGrayishCyan: hsl(186, 14%, 43%);
$grayishCyan: hsl(184, 14%, 56%);
$lightGrayishCyan: hsl(185, 41%, 84%);
$veryLightGrayishCyan: hsl(189, 41%, 97%);
$white: hsl(0, 0%, 100%);

// Fonts

$bodyFont: 24px;

@import './global';
@import './header';
@import './calc';
@import './media1440';